table{
    box-shadow: 5px 5px 20px #999;
    /*-webkit-box-shadow: 2px 2px 5px #999;*/
    /*-moz-box-shadow: 2px 2px 5px #999;*/
    /*filter: shadow(color=#999999, direction=135, strength=2);*/
border-color: #999;
}
td{
    box-shadow: 5px 5px 5px #999;
}
h1{
    font-size: 28px;
}